* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: rgb(255, 255, 255);
  background-color: #17141d;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: rgb(0, 0, 0);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav a[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

main {
  padding: 1rem;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
P {
  position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gamesearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roblox {
  float: left;
  padding-right: 5px;
  padding-top: 7px;
  padding-left: 7px;
}
.drun {
  float: left;
  padding-right: 5px;
  padding-top: 7px;
  padding-left: 7px;
}
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 3rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #be1a3b;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}
html {
  scroll-behavior: smooth;
}
#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  background-color: #17141d;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
.not-searched {
  display: none;
}

.searched {
  position: absolute;
  float: left;
  left: 10px;
  top: 0;
}